<h1>Listing accomodations</h1>

<table>
  <tr>
    <th>Guest</th>
    <th>City</th>
    <th>Hotel</th>
    <th>Checkin</th>
    <th>Checkout</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accomodations.each do |accomodation| %>
  <tr>
    <td><%= accomodation.guest_id %></td>
    <td><%= accomodation.location %></td>
    <td><%= accomodation.hotel_id %></td>
    <td><%= accomodation.checkin.strftime('%m/%d/%Y') %></td>
    <td><%= accomodation.checkout.strftime('%m/%d/%Y') %></td>
    
    <td><%= link_to 'Show', accomodation %></td>
    <td><%= link_to 'Edit', edit_accomodation_path(accomodation) %></td>
    <td><%= link_to 'Destroy', accomodation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accomodation', new_accomodation_path %>
