<div id="content-inner">
<div class="content-right">
<h1>Listing Guests</h1><br>

<table style="background-color:#DFDBDC;" width="100%">
<!-- row 0   -->
 <tr>
	<td class="grdhdr" width="145px">Guest name</td>
	<td class="grdhdr" width="145px">Location</td>
	<td class="grdhdr" width="145px">Agent</td>
	<td class="grdhdr" width="145px">Flight num</td>
	<td class="grdhdr" width="145px">Airlines</td>
	<td class="grdhdr" width="145px">Arr date</td>
	<td class="grdhdr" width="145px">Arr time</td>
	<td class="grdhdr"></td>
	<td class="grdhdr"></td>
</tr> 
<!-- row 1   -->
<% @guests.each do |guest| %>
 <tr>
    <td class="grdbdy"><%= link_to guest.guest_name, guest  %></td>
    <td class="grdbdy"><%= guest.location %></td>
    <td class="grdbdy"><%= guest.agent.agent_name %></td>
    <td class="grdbdy"><%= guest.flight_num %></td>
    <td class="grdbdy"><%= guest.airlines %></td>
    <td class="grdbdy"><%= guest.arr_date %></td>
    <td class="grdbdy"><%= guest.arr_time %></td>
    <td class="grdbdy"><%= link_to 'Edt', edit_guest_path(guest) %></td>
    <td class="grdbdy"><%= link_to 'Del', guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<!-- end rows -->
</table> 


<br />

<%= link_to 'New Guest', new_guest_path %>

</div>
</div>