<h1>Listing Guests</h1><br>

<table width="100%">
<!-- row 0   -->
 <tr>
	<th>Guest name</th>
	<th>Location</th>
	<th>Agent</th>
	<th>Flight num</th>
	<th>Airlines</th>
	<th>Arr date</th>
	<th>Arr time</th>
	<th></th>
	<th></th>
</tr> 
<!-- row 1   -->
<% @guests.each do |guest| %>
 <tr>
    <td><%= link_to guest.guest_name, guest  %></td>
    <td><%= guest.location %></td>
    <td><%= guest.agent.agent_name %></td>
    <td><%= guest.flight_num %></td>
    <td><%= guest.airlines %></td>
    <td><%= guest.arr_date %></td>
    <td><%= guest.arr_time %></td>
    <td><%= link_to 'Edt', edit_guest_path(guest) %></td>
    <td><%= link_to 'Del', guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<!-- end rows -->
</table> 


<br />

<%= link_to 'New Guest', new_guest_path %>
