<h1>Listing Guests</h1><br>

<table width="100%">
<!-- row 0   -->
 <tr>
	<th >Guest name</th>
	<th >Agent</th>
	<th >Arrival From</th>
	<th >Airlines</th>
	<th >Arr Date Time</th>
	<th >No.Of.Pax</th>
	<th></th>
	<th></th>
</tr> 
<!-- row 1   -->
<% @guests.each do |guest| %>
 <tr>
    <td ><%= link_to guest.guest_name, guest  %></td>
    <td ><%= guest.agent.agent_name %></td>
    <td ><%= guest.arrival_from %></td>
    <td ><%= guest.airlines %></td>
    <td ><%= guest.arr_time.strftime("%m/%d/%Y - %H:%M")  %></td>
    <td ><%= guest.number_of_pax %></td>
    <td><%= link_to 'Edt', edit_guest_path(guest) %></td>
    <td><%= link_to 'Del', guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<!-- end rows -->
</table> 


<br />

<%= link_to 'New Guest', new_guest_path %>
