<h1>Listing Agents</h1><br>

<table width="100%">
<!-- row 0   -->
 <tr>
	<th>Agent name</th>
	<th>Agent email</th>
	<th>Location</th>
	<th>Phone</th>
	<th>Country</th>
	<th></th>
	<th></th>
</tr> 
<!-- row 1   -->
<% @agents.each do |agent| %>
<tr>
	<td><%= link_to agent.agent_name, agent %></td>
	<td><%= agent.agent_email %></td>
	<td><%= agent.location %></td>
	<td> <%= agent.phone %></td>
	<td> <%= agent.country %></td>
	<td><%= link_to 'Edt', edit_agent_path(agent) %></td>
    <td><%= link_to 'Del', agent, :confirm => 'Are you sure?', :method => :delete %></td>
</tr> 
<% end %>
<!-- end rows -->
</table> 

<br />

<%= link_to 'New Agent', new_agent_path %>