<h1>Listing Hotels</h1><br>

<table style="background-color:#DFDBDC;">
<!-- row 0   -->
 <tr>
	<th>Hotel name</th>
	<th>Location</th>
	<th>Email</th>
	<th>Phone</th>
	<th></th>
	<th></th>
</tr> 
<!-- row 1   -->
<% @hotels.each do |hotel| %>
  <tr>
    <td> <%= link_to hotel.hotel_name, hotel %></td>
    <td> <%= hotel.location %></td>
    <td> <%= hotel.email %></td>
    <td> <%= hotel.phone %></td>
    <td> <%= link_to 'Edt', edit_hotel_path(hotel) %></td>
    <td> <%= link_to 'Del', hotel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<!-- end rows -->
</table> 

<br />

<%= link_to 'New Hotel', new_hotel_path %>
